/* Estilos para el modal */

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, rgba(50,20,30,1) 0%, rgba(255,245,235,1) 59%);
    color: #333;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif ;
    display: grid;
    place-content: center;
    height: 100vh;
    padding: 36px;
    grid-template-rows: 1fr; /* Para que tome toda la altura el contenido de lo que pongamos */

    
}


.contenedor-main{
    display: flex;
}
.barraNav{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    padding: 20px;
    background-color: #000;
    width: 150px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #ccc;
    box-shadow: 0 10px 8px #f672ca;

    
}

.itemNav{
    padding: 15px;
    margin: 0 0 20px 0;
    list-style-type: none;
    text-decoration: none;
    background-color: #eee;
    width: 115px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 35px;
    box-shadow: 0 5px 10px #6e024a;

    
    
}
a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
    /* padding: 5px 0; */
    margin-left: 10px;
    font-size: 20px;
    text-align:center;
}
.separador{
    margin-top: 30px;
}
.supp{
    margin-top: 150px;
}
.itemNav:hover{
    background-color: #6f044c;
    color: #ccc;
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6); 
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 550px;
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
    margin-left: 640px;

}

.close {
    color: #7B2A2A; 
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover {
    color: #cd5c5c; 
}



h1 {
    margin-left: 270px;
    text-align: left;
    padding: 20px 0;
    color: #ffffff;
}

h2 {
    color: #7B2A2A;
    margin: 10px 0;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

label {
    font-weight: bold;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="number"] {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #7B2A2A;
    outline: none;
}

.buscador--button{
    display: flex;
    margin: auto;
    margin-left: 300px;
    margin-top: 20px;
    width: 600px;
    align-items: center;
    padding: 20px;
    background-color: #e8e8e8;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #cdcdcb;
}

#results {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

