@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.contenedor-main {
    display: flex;
} 

.main-contenido{
    flex: 2;
    margin-left: 190px;
}

button{
    cursor: pointer;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background: #4b1c71;
}

section .cuadrado {
    position: absolute;
    filter: blur(100px);
}

section .cuadrado:nth-child(1) {
    top: -370px;
    width: 500px;
    height: 500px;
    background: #7f4ca5;
}
section .cuadrado:nth-child(2) {
    bottom: -170px;
    left: 110px;
    width: 550px;
    height: 500px;
    background: #dbb6ee;
}
section .cuadrado:nth-child(3) {
    bottom: 80px;
    right: 120px;
    width: 450px;
    height: 450px;
    background: #b57ebc;
}
.cuadrado {
    position: absolute;
    animation: animacion 5s linear infinite;
    animation-delay: calc(1s * var(--i));
}
@keyframes animacion {
    0%, 100% {
        transform: translateX(-50px);
    }
    50% {
        transform: translateX(50px);
    }
}

.editBox {
    position: relative;
}

.editContainer {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.editForm {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.editForm h2 {
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.editForm h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 180px;
    height: 4px;
    background: #fff;
}

.editForm .inputBox {
    width: 100%;
    margin-top: 20px;
}
.editForm .inputBox input {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.editForm .inputBox input::placeholder {
    color: #fff;
}
.editForm .inputBox input[type="submit"] {
    background: #fff;
    color: #666;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.3s;

}
.editForm .inputBox input[type="submit"]:hover {
    background: #fff0ff;
}

.login {
    margin-top: 5px;
    color: #fff;
}

.login button {
    color: #fff;
    font-weight: 600;
}