@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;

}

body {
    display: flex;
    height: 100vh;
    background: linear-gradient(90deg, rgba(50,20,30,1) 0%, rgba(255,245,235,1) 59%);
}

/* Slicebox Style */
.sb-slider {
    width: 700px; /* Tamaño fijo del slider */
    height: 550px; /* Tamaño fijo del slider */
    overflow: hidden;
    position: relative;
}

.sb-slider li {
    margin: 0;
    padding: 0;
    display: none;
    overflow: hidden;
}

.sb-slider li > a {
    outline: none;
}

.sb-slider li > a img {
    border: none;
}

.sb-slider img {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100%; /* Ocupa todo el alto del contenedor */
    object-fit: cover; /* Asegura que las imágenes se ajusten sin distorsiona*/
}
/*
.sb-description {
    padding: 20px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    z-index: 1000;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    border-left: 4px solid #fff;
    opacity: 0;
    color: #fff;

    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -ms-transition: all 300ms;
    transition: all 300ms;
}

.sb-slider li.sb-current .sb-description {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 1;
}

.sb-slider li.sb-current .sb-description:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
    filter: alpha(opacity=99);
    background: rgba(0, 0, 0, 0.8);
}
*/
.sb-perspective {
    position: relative;
}

.sb-perspective > div {
    position: absolute;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.sb-side {
    margin: 0;
    display: block;
    position: absolute;

    backface-visibility: hidden;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


/* custom style */
.container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}


.sb-description h3 {
    font-size: 20px;
}

.sb-description h3 a {
    color: #4a3c27;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.nav-arrows {
    display: none;
}

.nav-arrows a {
    width: 42px;
    height: 42px;
    background: #000 url(https://tympanus.net/Development/Slicebox/images/nav.png) no-repeat top left;
    background-size: cover;
    opacity: 0.6;
    position: absolute;
    top: 45%;
    left: 20px;
    text-indent: -9000px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 300ms;
}

.nav-arrows a:first-child {
    left: auto;
    right: 20px;
    background-position: top right;
}

.nav-arrows a:hover {
    opacity: 1;
    transform: scale(1.1);
}

/* ESTILOS DE EJEMPLO */

.container-text{
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    box-sizing: border-box;
}

.container-text h1{
    font-size: 30px;
    font-weight: 500;
}

.container-text p{
    font-size: 18px;
    font-weight: 300;
}


@media screen and (max-width: 800px) {
    
    .nav-arrows a {
        width: 32px;
        height: 32px;
    }
    
    .sb-description {
        height: 30px;
    }
    
    .sb-description h3{
        margin: 3px;
    }
}







:root{
    --color: #17a2ff;
}

.container-boton {
    position: fixed; /* Posición fija en toda la vista */
    top: 10px; /* Distancia desde la parte superior */
    right: 30px; /* Distancia desde el lado derecho */
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000; /* Asegúrate de que el botón esté visible */
}



   


.btn{
    position: relative;
    padding: 20px 20px;
    text-decoration: none;
    color: black;
    letter-spacing: 10px;
    text-indent: 10px;
    z-index: 2;
}



/*-----------boton ----------*/

.btn-3{
    transition: all 0.6s ease;
}

.btn-3::after{
    content: "";
    position: absolute;
    width: 10%;
    height: 110%;
    left: -10%;
    top: 0;
    transform: skew(20deg, 0deg);
    background-color: #cbbebe;
    z-index: -1;
    transition: all 0.4s ease;
}

.btn-3::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: skew(20deg, 0deg);
    border: 3px solid #6f044c;
    transition: all 0.4s ease;
    z-index: -1;
}

.btn-3:hover::after{
    background-color: #f6eded31;
    transform: skew(20deg, 0deg) translateX(240px);
}

.btn-3:hover::before{
    background-color: #6f044c;;
    border: 3px solid #fff;
    transform: skew(20deg, 0deg) scale(1.1);
}



