

*,
*::before,
*::after{
    box-sizing: border-box;
}
:root{
    /* color-scheme: ligth dark; */
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif ;
    display: grid;
    place-content: center;
    height: 100vh;
    padding: 36px;
    grid-template-rows: 1fr; /* Para que tome toda la altura el contenido de lo que pongamos */
    background: linear-gradient(135deg, #8B0000, #4C0033);

}
#chat{
    /* border: 1px solid #000000; */
    border-radius: 4px;
    overflow: hidden;
    width: 400px;
    height: 100%;
    position: relative;
    font-size: 18px;
    border: 2px solid #f96cca;
    background-color: #000;
    box-shadow: 0 0 8px  #f672ca;
    margin-left: 200px;
    
}

#form{
    margin: 10px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin-left: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
}
#myMessage{
    margin: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    width: 270px;
    box-shadow: 0 1px 5px  #f672ca;

}
#send{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #eee;
    font-size: 20px;
    margin-right: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 6px  #f672ca;

}
.message-conteiner{
    display: flex;
    align-items: center;
}
.bxs-user-circle{
    margin-right: 10px;
    font-size: 30px;
    color: #eee;

}

#messages{
    list-style: none;
    color: #000;
    background-color: transparent;
    margin: 10px;
    border-radius: 10px;
    max-height: 400px;
    padding: 10px;


}
ul .mensaje{
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
}
.barraNav{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    padding: 20px;
    background-color: #000;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #ccc;
    box-shadow: 0 10px 8px #f672ca;

    
}

.itemNav{
    padding: 15px;
    margin: 0 0 20px 0;
    list-style-type: none;
    text-decoration: none;
    background-color: #eee;
    width: 150px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 35px;
    box-shadow: 0 5px 10px #6e024a;

    
    
}
a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
    /* padding: 5px 0; */
    margin-left: 10px;
    font-size: 20px;
    text-align:center;
}
.separador{
    margin-top: 30px;
}
.supp{
    margin-top: auto;
}
.itemNav:hover{
    background-color: #6f044c;
    color: #ccc;
}
