body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centramos las publicaciones */
}

/* Publicaciones centradas */
.post {
    width: 100%;
    max-width: 800px; /* Ajustamos el ancho para centrar mejor */
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
    align-items: center; /* Alinea el contenido de las publicaciones al centro */
}

.post-image {
    max-width: 100%; /* Imagen ajustada para ocupar más espacio */
    height: auto;
    margin-bottom: 10px;
}

.post h2 {
    margin: 0 0 10px;
    font-size: 24px;
}

.post p {
    margin: 0 0 10px;
    font-size: 16px;
    text-align: center; /* Alineación centrada del texto */
}

.post-description {
    font-size: 14px;
    color: #666;
}

/* Botón más grande */
button {
    background-color: #007BFF;
    padding: 15px 30px; /* Botón más grande */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Texto más grande */
    margin-top: 20px;
}

button a {
    text-decoration: none;
    color: #fff;
}

button:hover {
    background-color: #0056b3; /* Hover más claro */
}

.comment {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    width: 100%; /* Alineación de los comentarios */
}

/* Modal centrado y ajustado */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
   
}

/* Contenido del modal */
.modal-content {
    background-color: white;
    margin: 10% auto; /* Centrado vertical y horizontal */
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px; /* Limita el ancho del modal */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Botón de cerrar el modal */
.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: black;
}

/* Botón para abrir el modal */
#openModal {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#openModal:hover {
    background-color: #0056b3;
}