body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal-publicacion {
    display: none; 
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-contenido-publicacion {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    margin: 2% auto; 
    max-width: min-content;
    position: relative;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: visible;
}

.seccion-perfil{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 10;
    position: relative;
    padding: 10px;
}

a {
    text-decoration: none;
    color:rgb(0, 0, 0)
}

.foto-detallada{
    width: 400px; 
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display:block;
}

.foto-general{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px; 
    height: 250px;
    border-radius: 15px;
}

.foto-perfil{
    width: 130px; 
    height: 130px;
    border-radius: 15px;
}

.seccion-publicaciones{
    z-index: 9;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.publicaciones{
    display: flex;
    flex-direction: row;
}

/*.margen-publicacion{
    margin-right: 20px;
}*/

.publicacion{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}

#publicacion-contenido{
    max-width: 200px;
    min-height: 316px;
    max-height: 316px;
}

.titulo{
    color: #000000;
    margin-top: 8px;
    margin-bottom: 0;
    overflow-wrap: break-word;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.seccion-comentarios{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #f1f1f1;
    z-index: 12;
}

.seccion-comentarios h3{
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    width: 150px;
}

.comentarios{
    margin-bottom: 10px;
    overflow-y: auto; 
    max-height: 400px;
}

.comentario {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 8px;
    margin-top: 8px;
    background-color: #fff;
    font-size: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    overflow-wrap: break-word;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.form-comentario {
    display: flex;
    align-items: center; 
    flex-direction: row;
    margin-top: auto;
}

.info-publicacion{
    width: auto;
    height: auto;
    z-index: 13;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    overflow: visible;
}

.titulo2{
    color: #000000;
    margin-top: 15px;
    margin-bottom: 7px;
    padding-bottom: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    border-bottom: 2px inset rgb(196, 196, 196);
}

.descripcion{
    margin-bottom: 0;
    margin-top: 0;
}

.username{
    margin-top: 0;
    margin-bottom: 10px;
}

button{
    background-color: #000000;
    border: none;
    padding: 5px 10px; 
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    max-width: fit-content;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

button:hover{
    background-color: rgb(125, 125, 125);
}

.boton-volver{
    position: absolute;
    top: 10px;
    right: 10px; 
    background-color: #000000;
    border-radius: 4px;
    padding: 5px 10px;
}