<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/addPublicacion.css">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <h1>Publicar</h1>
        <label for="titulo">Título:</label><br>
        <input type="text" id="titula" name="titulo"><br>
        <br>
        <label for="imagen">Agregar imagen:</label><br>
        <img src="../static/icono-perfil-usuario-estilo-plano-ilustracion-vector-avatar-miembro-sobre-fondo-aislado-concepto-negocio-signo-permiso-humano_157943-15752.avif" style="width: 50%;"><br>
        <input type="button" value="Editar imagen"><br>
        <br>
        <label for="descripcion">Agregar descripción:</label><br>
        <input type="text" id="descripcion" name="descripcion" style="box-sizing: 50%;"><br><br>
        <br>
        <input type="button" value="Publicar">
    </form>
</body>
</html>