<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editarPerfil.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/support.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Editar perfil</title>
</head>
<body>
    {% include 'support.html' %}
    <section>
        <div class="cuadrado" style="--i:0"></div>
        <div class="cuadrado" style="--i:1"></div>
        <div class="cuadrado" style="--i:2"></div>
        <div class="cuadrado" style="--i:3"></div>
        <div class="editBox">
            <div class="editContainer">
                <div class="editForm">
                    <button onclick="window.location.href='/perfil/{{ current_user.id }}'">Volver</button>
                    <h1>Editar Perfil</h1>
                    <h2>¡Personalizá tu cuenta!</h2>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <ul>{% for category, message in messages %}</ul>
                                <li class="flash-message {{category}}" >{{ message }}</li>
                            <ul>{% endfor %}</ul>
                        {% endif %}
                    {% endwith %}
                    <form action="/editarPerfil" method="POST" enctype="multipart/form-data">
                        <div class= "labelBox"><label>Foto de perfil:</label></div>
                        <div class="img-container">
                            {% if fotoPerfil %}
                                <img id="imgPreview" src="{{ url_for('static', filename='perfil_uploads/' + fotoPerfil) }}" name="fotoPerfil" style="max-width: 130px; max-height: 130px;" class="profile-pic">
                                <div class="label-actions">
                                    <label class="modImg" for="eliminar_foto">Eliminar</label>
                                    <input type="checkbox" id="eliminar_foto" name="eliminar_foto" value="True" style="display: none;">
                                    <label class="modImg" for="fotoPerfil">Modificar</label>
                                    <input type="file" accept="image/*" name="fotoPerfil" id="fotoPerfil" style="display: none;">
                                </div>
                            {% else %}
                                <img id="imgPreview" src="{{ url_for('static', filename= 'img/fotoPerfil.jpg') }}" name="fotoPerfil" style="max-width: 130px; max-height: 130px;" class="profile-pic">
                                <div class="label-actions">
                                    <label class="modImg" for="fotoPerfil">Modificar</label>
                                    <input type="file" accept="image/*" name="fotoPerfil" id="fotoPerfil" style="display: none;">
                                </div>
                            {% endif %}
                        </div>
                        <input type="text" name="fotoActual" value="{{ fotoPerfil }}" hidden>
                
                        <div class="labelBox"><label for="nombre_completo">Nombre completo:</label></div>
                        <div class="inputBox"><input type="text" name="nombre_completo" id="nombre_completo" value="{{ nombre_completo }}" placeholder='El nombre es requerido' maxlength="50" required></div>
                        
                        <div class="labelBox"><label for="username">Nombre de usuario:</label></div>
                        <div class="inputBox"><input type="text" name="username" id="username" value="{{ username }}" placeholder="El username es requerido" minlength="5" maxlength="12" pattern="[A-Za-z0-9_]+" title="Se permiten letras, números y guiones bajos." required></div>
                
                        <div class="labelBox"><label for="email">Correo electrónico:</label></div>
                        <div class="inputBox"><input type="email" name="email" id="email" value="{{ email }}" title='No se puede editar' readonly></div>
                
                        <div class="labelBox"><label for="fechaNac">Fecha de nacimiento:</label></div>
                        <div class="inputBox"><input type="date" name="fechaNac" id="fechaNac" value="{{ fechaNac }}" title="No se puede editar" readonly></div>

                        <!--<div class="labelBox"><label for="mostrarSiNo">Mostrar en perfil:</label></div>
                        <div class="inputBox">
                            <select id="mostrarSiNo" name="mostrarSiNo" title='Obligatorio' required>
                                <option value="" disabled selected>Seleccione una opción</option>
                                <option value="fecha"  {% if mostrarSiNo == 'fecha' %} selected {% endif %}>Fecha de nacimiento</option>
                                <option value="edad" {% if mostrarSiNo == 'edad' %} selected {% endif %}>Edad</option>
                                <option value="ninguna" {% if mostrarSiNo == 'ninguna' %} selected {% endif %}>No mostrar</option>
                            </select>
                        </div>-->
                
                        <div class="labelBox"><label for="presentacion">Presentación:</label></div> 
                        <div class="inputBox"><input type="text"  name="presentacion" id="presentacion" value="{{ presentacion }}" placeholder="Incluye tus intereses" title="Opcional" maxlength="180"></div>
                        
                        <div class="labelBox"><label for="ubicacion">Ubicación:</label></div>
                        <div class="inputBox"><input type="text" name="ubicacion" id="ubicacion" value="{{ ubicacion }}" placeholder='Ciudad y país' title="Opcional" pattern="[A-Za-zÀ-ÿ\s,-.()]+" ></div>
                        
                        <div class="labelBox"><label for="enlace">Enlace:</label></div>
                        <div class="inputBox"><input type="url" name="enlace" id="enlace" value="{{ enlace }}"></div>
                
                        <p>Los datos se incluirán en tu perfil</p>

                        <button type="submit" class="guardarCambios" value="Submit">Guardar cambios</button><br>
                
                    </form>
                    <button onclick="window.location.href='/editarPerfil'" >Reestaurar datos</button><br>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='js/preview.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
</body>
</html>