<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Iniciar sesión</title>
</head>
<body>
    <section>
        <div class="cuadrado" style="--i:0"></div>
        <div class="cuadrado" style="--i:1"></div>
        <div class="cuadrado" style="--i:2"></div>
        <div class="loginBox">
            <div class="loginContainer">
                <div class="loginForm">
                    <h1>Inicie Sesión</h1>
                    <h2>¡Bienvenido otra vez!</h2>

                    <form action="/login" method="POST">

                        <div class="labelBox"><label for="email">Correo electrónico:</label></div>
                        <div class="inputBox"><input type="email" name="email" id="email" value='{{ email }}' placeholder="Email" required></div>
                        <div class="labelBox"><label for="contraseña">Contraseña:</label></div>
                        <div class="inputBox"><input type="password" name="contraseña" id="contraseña" value='{{ contraseña }}' placeholder="Password" required></div>

                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul>{% for message in messages %}</ul>
                                    <li>{{ message }}</li>
                                <ul>{% endfor %}</ul>
                            {% endif %}
                        {% endwith %}

                        <div class="inputBox"><input type="submit" value="Iniciar sesión"></div>
                        
                    </form>
                    <b><p class="login">¿No tienes una cuenta?</p><a href="/registro">Regístrate</a></b>
                </div>
            </div>
        </div>
    </section>
</body>
</html>