<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT</title>

    <link rel="stylesheet" href="/static/css/mensajes.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>
<body>
    <section id="chat">
        <ul id="messages"></ul>
        <div id="form">
            <input type="text" name="message" id="myMessage" placeholder="Type a message" autocomplete="off">
            <button type="submit" id="send"><i class='bx bxs-send'></i></button>
        </div>
    </section>

    <ul class="barraNav">
        <div class="separador">
        <li class="itemNav "><i class='bx bx-home'></i><a href="/add_post"> Inicio</a></li>
        <li class="itemNav"><i class='bx bx-chat'></i><a href="/chat">Chat</a></li>
        <li class="itemNav"><i class='bx bx-search-alt'></i><a href="/buscar">Buscar</a></li>
        <li class="itemNav"><i class='bx bx-user'></i><a href="">Perfil</a></li>
        </div>

        <li class="itemNav supp "><i class='bx bx-log-out-circle'></i><a href="">Logout</a></li>
        <!-- <li class="itemNav supp"><i class='bx bx-support'></i><a href="">Support</a></li> -->
    </ul>
        <!-- jQuery: Permite obtener y utilizar los id -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
        crossorigin="anonymous"> 
        </script>

        <!-- socketio -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
        
        <script>
        const socket = io();
        //socket.emit('message', 'hello'); //(Nombre del evento en el serv) , (mensaje a enviar)
        socket.on('message', function (msg){
        $('#messages').append(`
            <div class="message-conteiner"> 
                <i class='bx bxs-user-circle'></i>
                <li class="mensaje">` + msg + `</li>
            </div>
        `); //Para guardar los mensajes que se envian dentro de los li + logo de usuario.
        } );

        $('#send').on('click', function (){
            socket.send($('#myMessage').val()); 
            $('#myMessage').val('');
        });
        </script>
    
        
    
        
</body>
</html>
    <!-- <script src="/server/index.js"></script> -->
