<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ datos['username'] }} Perfil</title>
</head>
<body>
    {% with messages= get_flashed_messages() %}
        {% if messages %}
            <ul>{% for message in messages %}</ul>
                <li>{{ message }}</li>
            <ul>{% endfor %}</ul>
        {% endif %}
    {% endwith %}
    
    {% if fotoPerfil %}
    mostrar la q edito agrego
    {% else %}
    mostrar la predeterminada
    {% endif %}
    <img src="{{ url_for('static', filename='img/' + datos['fotoPerfil'])}}" alt="Imagen de perfil" max-width="20" max-height="20"><br>
    {{ datos['nombre_completo'] }} @{{ datos['username'] }}<br>
    {{ datos['presentacion'] }}<br>
    {% if datos['mostrarSiNo'] == 'fecha'  %}
        Fecha de nacimiento: {{ fecha_perfil }}<br>
    {% elif datos['mostrarSiNo'] == 'edad' %}
        Edad: {{ edad }}<br>
    {% endif %}
    Ubicación: {{ datos['ubicacion'] }}<br>
    {{ datos['estrellas'] }}<br>
    {{ datos['enlace'] }}<br>
    {{ datos['email'] }}<br>

    {% for publicacion in publicaciones %}
        {{ publicacion['fotoVino'] }}
        {{ publicacion['tipoVino'] }}
        {{ publicacion['nombreVino'] }}
        {{ publicacion['precio'] }}
        {{ publicacion['origenAño'] }}
        {{ publicacion['origenUva'] }}
        {{ publicacion['descripcion'] }}
    {% endfor %}

    {% if current_user.id == datos['id_usuario'] %}
        <a href="{{url_for('editarPerfil')}}">Editar perfil</a><br>
        <a href="{{url_for('logout')}}">Cerrar sesión</a><br>
    {% endif %}
</body>
</html>