<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@{{ datos['username'] }} - Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/support.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class='contenedor-main'>
        {% include 'support.html' %}
        {% if datos %}
            <main class="contenido-perfil">
                <section class="seccion-perfil">
                    <header>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                <ul>{% for category, message in messages %}</ul>
                                    <li class="flash-message {{category}}" >{{ message }}</li>
                                <ul>{% endfor %}</ul>
                            {% endif %}
                        {% endwith %}
                    </header>
                    <div class="datos-perfil">
                        <div class="seccion-img">
                            {% if datos['fotoPerfil'] %}
                                <img src="{{ url_for('static', filename='perfil_uploads/' + datos['fotoPerfil']) }}" alt="Imagen de perfil de {{ datos['username'] }}" class="foto-perfil">
                            {% else %}
                                <img src="{{ url_for('static', filename= 'img/fotoPerfil.jpg') }}" alt="Imagen de perfil predeterminada" class="foto-perfil">
                            {% endif %}
                        </div>
                        <div class="seccion-datos">
                            <h2>{{ datos['nombre_completo'] }} @{{ datos['username'] }}</h2>

                            <h4>{{ datos['presentacion'] }}</h4>

                            {% if datos['ubicacion'] %}
                                <h4>Ubicación: {{ datos['ubicacion'] }}</h4>
                            {%endif%}

                            {% if datos['email'] %}
                                <h4>Email: <a href="mailto:{{datos['email']}}">{{ datos['email'] }}</a></h4>
                            {% endif %}
                        
                            {% if datos['enlace'] %}
                                <h4>Enlace: <a href="{{ datos['enlace'] }}">{{ datos['enlace'] }}</a></h4>
                            {% endif %}
                            {% if current_user.id == datos['id_usuario'] %}
                                <button onclick="window.location.href='/editarPerfil'">Editar perfil</button>
                            {% endif %}
                        </div>

                    </div>
                </section>

                <section class="seccion-publicaciones">
                    <div class="publicaciones">
                        {% if publicaciones %}
                            {% for publicacion in publicaciones %}
                                <div class="publicacion" onclick="window.location.href='/perfil/{{datos.id_usuario}}/{{publicacion.publi_id}}'">
                                    <div id="publicacion-contenido">
                                        <img src="{{ url_for('static', filename='uploads/' + publicacion['imagen']) }}" alt="{{ publicacion['titulo'] }}" class="foto-general">
                                        <h2 class="titulo">{{ publicacion['titulo'] }}</h2>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No hay publicaciones disponibles.</p>
                        {% endif %}
                    </div>
                </section>
                {% if publicacion_individual %}
                    <div class="modal-publicacion" id="modal-publicacion" style="display: block;" >
                        <div class="modal-contenido-publicacion">
                            <div class="info-publicacion">
                                <h2 class="username">@{{ datos['username'] }}</h2>
                                <img src="{{ url_for('static', filename='uploads/' + publicacion_individual['imagen']) }}" alt="{{ publicacion_individual['titulo'] }}" class="foto-detallada">
                                <h2 class="titulo2">{{ publicacion_individual['titulo'] }}</h2>
                                <h4 class="descripcion">{{ publicacion_individual['descripcion'] }}</h4>
                            </div>
                            <div class="seccion-comentarios">
                                <button class="boton-volver" onclick="window.location.href='/perfil/{{ datos.id_usuario }}'" ><i class="fa-solid fa-xmark"></i></button>
                                <h3>Comentarios</h3>
                                <div class="comentarios" >
                                    {% if publicacion_individual['comentarios'] %}
                                        {% for comentario in publicacion_individual['comentarios'] %}
                                            <div>
                                                <h4 class="comentario">{{ comentario }}</h4>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <h4 class="comentario">No hay comentarios.</h4>
                                    {% endif %}
                                </div>
                                <form action="/add_comment/{{ publicacion_individual['publi_id'] }}" method="post" class="form-comentario">
                                    <input type="text" name="descripcion" placeholder="Escribe un comentario">
                                    <button type="submit"><i class="fa-solid fa-caret-right"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </main>
        {% else %}
            <h1>No se encontró el perfil.</h1>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
</body>
</html>